@page "/care/palliative-care"

<PageTitle>Palliative Care - All Compassionate Care Hospice, LLC</PageTitle>

<SeoMeta Title="Palliative Care Services in Arlington, TX | All Compassionate Care Hospice, LLC"
         Description="All Compassionate Care Hospice, LLC offers compassionate palliative care services in Arlington, TX. Our expert team provides personalized support to improve quality of life for patients with serious illnesses."
         Keywords="palliative care Arlington TX, hospice palliative care Arlington, symptom management Arlington, serious illness care Arlington, supportive care Arlington TX, pain management palliative care, patient-centered care Arlington"
         SocialTitle="Compassionate Palliative Care in Arlington, TX | All Compassionate Care Hospice, LLC"
         SocialDescription="Discover expert palliative care services in Arlington, TX with All Compassionate Care Hospice, LLC. Personalized support focused on comfort and quality of life for patients with serious illnesses."
         SocialImage="images/og-allcompassionate.care.webp"
         SocialUrl="https://allcompassionate.care/care/palliative-care"
         SocialType="website"
         TwitterCardType="summary_large_image"
         TwitterTitle="Palliative Care Services in Arlington, TX | All Compassionate Care Hospice, LLC"
         TwitterDescription="Providing compassionate palliative care in Arlington, TX. All Compassionate Care Hospice, LLC supports patients with serious illnesses through personalized symptom and pain management."
         TwitterImage="images/og-allcompassionate.care.webp"
         Canonical="https://allcompassionate.care/care/palliative-care" />


<!-- start page title -->
<section class="p-0 ipad-top-space-margin page-title-big-typography cover-background md-background-position-left-center"
         style="background-image: url(images/bg-title-bg.webp)">
    <div class="container">
        <div class="row align-items-center justify-content-center h-350px">
            <div class="col-auto text-center page-title-double-large"
                 data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 200, "easing": "easeOutQuad" }'>
                <h1 class="alt-font text-dark-gray fw-700 ls-minus-1px mb-0 position-relative">
                    <span class="fs-50">Palliative Care</span>
                    <span class="position-absolute right-minus-50px top-minus-15px"><img src="images/bg-09.webp" alt=""></span>
                </h1>
            </div>
            <div class="down-section text-center"
                 data-anime='{ "translateY": [-50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                <a href="#down-section" class="section-link">
                    <div class="text-dark-gray">
                        <i class="feather icon-feather-chevron-down icon-very-medium"></i>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- end page title -->
<!-- start section -->
<section id="down-section" class="">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-xl-6 col-lg-12 col-md-10 position-relative md-mb-50px sm-mb-30px appear"
                 data-anime="{ &quot;effect&quot;: &quot;slide&quot;, &quot;direction&quot;: &quot;tb&quot;, &quot;color&quot;: &quot;#252840&quot;, &quot;duration&quot;: 1000, &quot;delay&quot;: 0 }"
                 style="position: relative;">
                <img class="w-100 border-radius-5px lg-mb-50px" src="images/alc-services/bg-service-palliativecare.webp" alt="" data-no-retina="" style="opacity: 1;">
            </div>
            <div class="col-xl-5 offset-xl-1 col-lg-12 col-md-10 text-center text-lg-start appear anime-child anime-complete"
                 data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [50, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                <span class="text-uppercase fw-600 mb-15px d-inline-block ls-1px" style="">All Compassionate Care Hospice</span>
                <h2 class="alt-font fw-600 lh-60 text-dark-gray ls-minus-1px shadow-none shadow-in" data-shadow-animation="true"
                    data-animation-delay="1500" style="">
                    Compassionate Support for Life’s
                    <span class="text-highlight fw-800">
                        Challenging Moments
                        <span class="bg-gradient-emerald-blue-emerald-green h-8px bottom-10px opacity-6 separator-animation"></span>
                    </span>
                </h2>
                <p class="mb-35px sm-mb-25px" style="">At All Compassionate Care Hospice, we provide comprehensive palliative care designed to improve the quality of life for individuals living with serious illnesses. Our goal is to ease symptoms, reduce pain, and support emotional well-being, helping patients and their families find comfort and strength throughout their care journey.</p>
                <div class="d-flex flex-md-row flex-column justify-content-lg-start justify-content-center">
                    <a href="/contact" class="btn btn-large btn-dark-gray btn-rounded me-25px btn-switch-text btn-box-shadow xs-m-10px">
                        <span>
                            <span class="btn-double-text" data-text="Discover more">Schedule a Visit</span>
                            <span><i class="fa-solid fa-arrow-right fs-14"></i></span>
                        </span>
                    </a>
                    <div class="feature-box feature-box-left-icon-middle xs-m-10px">
                        <div class="feature-box-icon feature-box-icon-rounded border border-2 w-60px h-60px rounded-circle me-15px">
                            <i class="feather icon-feather-phone align-middle icon-extra-medium text-dark-gray"></i>
                        </div>
                        <div class="feature-box-content">
                            <span class="d-block fs-15 lh-20">Call Anytime</span>
                            <a href="tel:+12142813959" class="d-block text-dark-gray fs-18 ls-minus-05px fw-600">(214) 281-3959</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->

<section class="position-relative pt-0 pb-5 bg-gradient-blue-transparent-first">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5 col-lg-12  text-center text-lg-start appear anime-child anime-complete" data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [30, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                <h2 class="text-dark-gray lh-60 fw-600 ls-minus-3px mb-0 lg-mb-3 sm-mb-5 alt-font highlight-separator-small">
                    What Is Palliative Care
                </h2>
            </div>
            <div class="col-xl-7 col-lg-12 last-paragraph-no-margin  text-center text-lg-start">
                <div class="appear anime-child anime-complete" data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [-15, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 800, &quot;delay&quot;: 200, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                    <p style="">Palliative care focuses on relieving symptoms and stress caused by serious illnesses, regardless of diagnosis or stage. Unlike curative treatments, palliative care aims to enhance comfort and provide holistic support that addresses physical, emotional, and spiritual needs for patients and families.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pt-5 pb-5">
    <div class="container">
        <div class="row align-items-center mb-5">
            <div class="col-xl-5 col-lg-12 text-center text-lg-start appear anime-child anime-complete" data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [30, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                <h2 class="text-dark-gray lh-60 fw-600 ls-minus-3px mb-0 lg-mb-3 sm-mb-5 alt-font">
                    Our Palliative Care Services
                </h2>
            </div>
            <div class="col-xl-7 col-lg-12 last-paragraph-no-margin  text-center text-lg-start">
                <div class="appear anime-child anime-complete" data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [-15, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 800, &quot;delay&quot;: 200, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                    <p class="fs-18 lh-32" style="">We offer a wide range of supportive services designed to help patients manage their illness and maintain quality of life</p>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 ">
            <!-- start features box item -->
            <div class="col icon-with-text-style-01 mb-30px sm-mb-15px">
                <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                    <div class="feature-box-content">
                        <span class="d-inline-block text-dark-gray fw-600 mb-10px alt-font fs-22">Symptom Management</span>
                        <p>Expert care to reduce pain, fatigue, nausea, breathing difficulties, and other distressing symptoms through personalized treatment plans.</p>
                    </div>
                </div>
            </div>
            <!-- end features box item -->
            <!-- start features box item -->
            <div class="col icon-with-text-style-01 mb-30px sm-mb-15px">
                <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                    <div class="feature-box-content">
                        <span class="d-inline-block text-dark-gray fw-600 mb-10px alt-font fs-22">Emotional and Psychological Support</span>
                        <p>Compassionate counseling for patients and families coping with the stress and anxiety related to serious illness.</p>
                    </div>
                </div>
            </div>
            <!-- end features box item -->
            <!-- start features box item -->
            <div class="col icon-with-text-style-01 mb-30px sm-mb-15px">
                <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                    <div class="feature-box-content">
                        <span class="d-inline-block text-dark-gray fw-600 mb-10px alt-font fs-22">Care Coordination</span>
                        <p>Seamless collaboration with your primary care physicians and specialists to ensure consistent and effective treatment.</p>
                    </div>
                </div>
            </div>
            <!-- end features box item -->
            <!-- start features box item -->
            <div class="col icon-with-text-style-01 mb-0px sm-mb-15px">
                <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                    <div class="feature-box-content">
                        <span class="d-inline-block text-dark-gray fw-600 mb-10px alt-font fs-22">Medication Management</span>
                        <p>Regular review and adjustment of medications to maximize symptom relief while minimizing side effects.</p>
                    </div>
                </div>
            </div>
            <!-- end features box item -->
            <!-- start features box item -->
            <div class="col icon-with-text-style-01 mb-0px sm-mb-15px">
                <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                    <div class="feature-box-content">
                        <span class="d-inline-block text-dark-gray fw-600 mb-10px alt-font fs-22">Spiritual Care</span>
                        <p>Respectful support aligned with your values and beliefs to provide peace, hope, and acceptance.</p>
                    </div>
                </div>
            </div>
            <!-- end features box item -->
            <!-- start features box item -->
            <div class="col icon-with-text-style-01 mb-0px sm-mb-0px">
                <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                    <div class="feature-box-content">
                        <span class="d-inline-block text-dark-gray fw-600 mb-10px alt-font fs-22">Advance Care Planning</span>
                        <p>Assistance with making informed decisions about treatment preferences and future care goals.</p>
                    </div>
                </div>
            </div>
            <!-- end features box item -->
        </div>
    </div>
</section>

<div class="divider-style-03 divider-style-03-05 border-1 border-color-dark-gray mt-20px w-100 mb-0 opacity-3"></div>

<section class="overflow-hidden pt-5 pb-5 bg-gradient-blue-transparent-second">
    <div class="container">
        <div class="row align-items-center justify-content-center mb-5 md-mb-40px text-center text-md-start">
            <div class="col-xl-5 col-lg-12 md-mb-20px text-center text-lg-start appear anime-child anime-complete"
                 data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [30, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                <h2 class="text-dark-gray lh-60 fw-600 ls-minus-3px mb-0 lg-mb-3 sm-mb-5 alt-font highlight-separator-small" style="">Why Choose Us for Palliative Care?</h2>
            </div>
            <div class="col-xl-6 col-lg-12 offset-xl-1 text-center text-lg-start last-paragraph-no-margin">
                <p class="w-90 xl-w-100">Our multidisciplinary team brings extensive experience and compassion to every patient’s care. We focus on personalized, patient-centered approaches and provide</p>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-lg-3 justify-content-center appear anime-child anime-complete" data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [30, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
            <!-- start features box item -->
            <div class="col icon-with-text-style-02 transition-inner-all mb-30px sm-mb-15px" style="">
                <div class="feature-box feature-box-left-icon-middle text-start bg-white hover-box dark-hover border border-radius-8px p-5 overflow-hidden last-paragraph-no-margin">
                    <div class="feature-box-content">
                        <span class="d-inline-block fs-22 fw-600 alt-font text-dark-gray mb-2">Experienced Care Team</span>
                        <p class="text-light-opacity">Nurses, social workers, counselors, and spiritual care providers skilled in managing complex illness needs.</p>
                    </div>
                    <div class="feature-box-overlay bg-base-color"></div>
                </div>
            </div>
            <!-- end features box item -->
            <!-- start features box item -->
            <div class="col icon-with-text-style-02 transition-inner-all mb-30px sm-mb-15px" style="">
                <div class="feature-box feature-box-left-icon-middle text-start bg-white hover-box dark-hover border border-radius-8px p-5 overflow-hidden last-paragraph-no-margin">
                    <div class="feature-box-content">
                        <span class="d-inline-block fs-22 fw-600 alt-font text-dark-gray mb-2">Tailored Care Plans</span>
                        <p class="text-light-opacity">Unique treatment strategies developed collaboratively with patients and families.</p>
                    </div>
                    <div class="feature-box-overlay bg-base-color"></div>
                </div>
            </div>
            <!-- end features box item -->
            <!-- start features box item -->
            <div class="col icon-with-text-style-02 transition-inner-all mb-30px sm-mb-15px" style="">
                <div class="feature-box feature-box-left-icon-middle text-start bg-white hover-box dark-hover border border-radius-8px p-5 overflow-hidden last-paragraph-no-margin">
                    <div class="feature-box-content">
                        <span class="d-inline-block fs-22 fw-600 alt-font text-dark-gray mb-2">Comprehensive Emotional Support</span>
                        <p class="text-light-opacity">Addressing mental health, coping strategies, and family dynamics.</p>
                    </div>
                    <div class="feature-box-overlay bg-base-color"></div>
                </div>
            </div>
            <!-- end features box item -->
            <!-- start features box item -->
            <div class="col icon-with-text-style-02 transition-inner-all mb-30px sm-mb-15px" style="">
                <div class="feature-box feature-box-left-icon-middle text-start bg-white hover-box dark-hover border border-radius-8px p-5 overflow-hidden last-paragraph-no-margin">
                    <div class="feature-box-content">
                        <span class="d-inline-block fs-22 fw-600 alt-font text-dark-gray mb-2">24/7 Availability</span>
                        <p class="text-light-opacity">Responsive care and support whenever you need it.</p>
                    </div>
                    <div class="feature-box-overlay bg-base-color"></div>
                </div>
            </div>
            <!-- end features box item -->
            <!-- start features box item -->
            <div class="col icon-with-text-style-02 transition-inner-all mb-30px sm-mb-15px" style="">
                <div class="feature-box feature-box-left-icon-middle text-start bg-white hover-box dark-hover border border-radius-8px p-5 overflow-hidden last-paragraph-no-margin">
                    <div class="feature-box-content">
                        <span class="d-inline-block fs-22 fw-600 alt-font text-dark-gray mb-2">Holistic Approach</span>
                        <p class="text-light-opacity">Fostering physical comfort, emotional balance, and spiritual peace.</p>
                    </div>
                    <div class="feature-box-overlay bg-base-color"></div>
                </div>
            </div>
            <!-- end features box item -->
            <!-- start features box item -->
            <div class="col icon-with-text-style-02 transition-inner-all sm-mb-0px" style="">
                <div class="feature-box feature-box-left-icon-middle text-start bg-white hover-box dark-hover border border-radius-8px p-5 overflow-hidden last-paragraph-no-margin">
                    <div class="feature-box-content">
                        <span class="d-inline-block fs-22 fw-600 alt-font text-dark-gray mb-2">Trusted Local Provider</span>
                        <p class="text-light-opacity">Serving the Dallas community with dedication and respect.</p>
                    </div>
                    <div class="feature-box-overlay bg-base-color"></div>
                </div>
            </div>
            <!-- end features box item -->
        </div>
    </div>
</section>

<section class="overflow-hidden  pt-5 pb-5 bg-gradient-blue-transparent-first">
    <div class="container">
        <div class="row align-items-center mb-6 sm-mb-50px">
            <div class="col-xl-5 col-lg-12 md-mb-50px sm-mb-30px text-center text-md-start">
                <h2 class="text-dark-gray lh-60 fw-600 ls-minus-3px mb-0 alt-font highlight-separator-small mb-lg-3">
                    What You Can Expect When You Contact Us.
                </h2>
            </div>
            <div class="col-xl-6 col-lg-12 offset-xl-1 last-paragraph-no-margin">
                <div class="row align-items-center">
                    <div class="col-md-4 position-relative atropos transform-3d sm-mb-30px text-center text-md-start text-lg-center appear anime-child anime-complete"
                         data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [0, 0],&quot;scale&quot;: [1.1, 1],&quot;opacity&quot;: [0,1], &quot;duration&quot;: 500, &quot;delay&quot;: 200, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeInSine&quot; }">
                        <div class="atropos d-inline-block atropos-rotate-touch" data-atropos="" data-atropos-perspective="500"
                             style="">
                            <div class="atropos-scale">
                                <div class="atropos-rotate">
                                    <div class="atropos-inner text-center overflow-visible">
                                        <div data-atropos-offset="-5" class="position-relative">
                                            <span class="w-200px h-200px rounded-circle d-flex align-items-center justify-content-center bg-dark-gray bg-sliding-line-dark-gray">
                                                <img src="images/alc/logo-alc-icon.svg" class="h-100px ms-15px" alt="">
                                                <!--<span class="fs-110 text-white alt-font fw-700 d-flex ls-minus-4px w-100 justify-content-center">20
                                                    <sub class="align-top fs-40 fw-500 position-relative top-0px">+</sub>
                                                </span>-->
                                            </span>
                                        </div>
                                        <span class="atropos-highlight" style="transform: translate3d(0px, 0px, 0px);"></span>
                                    </div>
                                    <span class="atropos-shadow" style="transform: translate3d(0px, 0px, -50px) scale(1);"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 offset-lg-1 text-center text-md-start appear anime-child anime-complete"
                         data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [-15, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 800, &quot;delay&quot;: 200, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                        <span class="fs-16 text-uppercase ls-05px text-dark-gray fw-700 d-block mb-5px" style="">All Compassionate Care Hospice</span>
                        <p class="fs-18 lh-32" style="">Personalized end-of-life care offering comfort, symptom management, and dignified emotional support for patients and families.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-lg-2 row-gap-4 justify-content-center appear anime-child anime-complete"
             data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [30, 0], &quot;translateX&quot;: [30, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 800, &quot;delay&quot;: 200, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
            <!-- start features box item -->
            <div class="col icon-with-text-style-01 pe-5" style="">
                <div class="separator-line-1px bg-extra-medium-gray w-100 mb-50px sm-mb-40px d-none d-lg-block"></div>
                <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                    <div class="feature-box-content">
                        <span class="fw-700 fs-20 alt-font text-dark-gray ls-minus-1px">Quick, Compassionate Response</span>
                        <span class="d-block">
                            We prioritize timely assessments and admit eligible patients rapidly, often within 24 hours.
                        </span>
                    </div>
                    <!--<div class="feature-box-icon me-0 mt-5px md-mt-0">
                        <i class="bi bi-emoji-smile text-dark-gray icon-medium"></i>
                    </div>-->
                </div>
            </div>
            <!-- end features box item -->
            <!-- start features box item -->
            <div class="col icon-with-text-style-01 pe-5" style="">
                <div class="separator-line-1px bg-extra-medium-gray w-100 mb-30px d-none d-lg-block"></div>
                <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                    <div class="feature-box-content">
                        <span class="fw-700 fs-20 alt-font text-dark-gray ls-minus-1px">A Dedicated Team That Cares</span>
                        <span class="d-block">
                            From nurses to social workers and volunteers, you’ll have a coordinated team focused entirely on your comfort and support.
                        </span>
                    </div>
                    <!--<div class="feature-box-icon me-0 mt-5px md-mt-0">
                        <i class="bi bi-emoji-smile text-dark-gray icon-medium"></i>
                    </div>-->
                </div>
            </div>
            <!-- end features box item -->
            <!-- start features box item -->
            <div class="col icon-with-text-style-01 pe-5" style="">
                <div class="separator-line-1px bg-extra-medium-gray w-100 mb-30px d-none d-lg-block"></div>
                <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                    <div class="feature-box-content">
                        <span class="fw-700 fs-20 alt-font text-dark-gray ls-minus-1px">Clear Communication</span>
                        <span class="d-block">
                            We partner closely with your doctors and family to ensure seamless care and peace of mind.
                        </span>
                    </div>
                    <!--<div class="feature-box-icon me-0 mt-5px md-mt-0">
                        <i class="bi bi-emoji-smile text-dark-gray icon-medium"></i>
                    </div>-->
                </div>
            </div>
            <!-- end features box item -->
            <!-- start features box item -->
            <div class="col icon-with-text-style-01 pe-5" style="">
                <div class="separator-line-1px bg-extra-medium-gray w-100 mb-30px d-none d-lg-block"></div>
                <div class="feature-box feature-box-left-icon last-paragraph-no-margin">
                    <div class="feature-box-content">
                        <span class="fw-700 fs-20 alt-font text-dark-gray ls-minus-1px">Insurance Assistance</span>
                        <span class="d-block">
                            We accept Medicare, Medicaid, and most private insurance plans to help ease financial concerns.
                        </span>
                    </div>
                    <!--<div class="feature-box-icon me-0 mt-5px md-mt-0">
                        <i class="bi bi-emoji-smile text-dark-gray icon-medium"></i>
                    </div>-->
                </div>
            </div>
            <!-- end features box item -->

        </div>
    </div>
</section>

<div class="divider-style-03 divider-style-03-05 border-1 border-color-dark-gray m-0 w-100 opacity-3"></div>

<section class="position-relative">
    <div class="container">
        <div class="row justify-content-center align-items-center mb-3">
            <div class="col sm-mb-15px appear anime-complete" data-anime="{ &quot;translateX&quot;: [50, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }" style="">
                <h2 class="text-dark-gray text-center fw-700 ls-minus-1px mb-3 mx-auto alt-font fs-50">Frequently Asked Questions (FAQs)</h2>
                <p class="w-70 mx-auto text-center">We provide clear answers about hospice eligibility, care settings, and family support services. Our compassionate team is ready to address your questions and guide you through every step with empathy and clarity.</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="accordion accordion-style-02 appear anime-child anime-complete" id="accordion-style-02" data-active-icon="icon-feather-chevron-up" data-inactive-icon="icon-feather-chevron-down" data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [50, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 1200, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 150, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                    <!-- start accordion item -->
                    <div class="accordion-item" style="">
                        <div class="accordion-header border-bottom border-color-extra-medium-gray">
                            <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-01" aria-expanded="false" data-bs-parent="#accordion-style-02" class="collapsed">
                                <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                                    <i class="feather icon-extra-medium icon-feather-chevron-down"></i><span class="fw-600 fs-18">Q: Is palliative care the same as hospice care?</span>
                                </div>
                            </a>
                        </div>
                        <div id="accordion-style-02-01" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02" style="">
                            <div class="accordion-body last-paragraph-no-margin border-bottom border-color-light-medium-gray">
                                <p>No, palliative care is provided at any stage of a serious illness and can be given alongside curative treatments. Hospice care is specifically for end-of-life care.</p>
                            </div>
                        </div>
                    </div>
                    <!-- end accordion item -->
                    <!-- start accordion item -->
                    <div class="accordion-item" style="">
                        <div class="accordion-header border-bottom border-color-extra-medium-gray">
                            <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-02" aria-expanded="false" data-bs-parent="#accordion-style-02" class="collapsed">
                                <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                                    <i class="feather icon-extra-medium icon-feather-chevron-down"></i><span class="fw-600 fs-18">Q: How do I start palliative care services?</span>
                                </div>
                            </a>
                        </div>
                        <div id="accordion-style-02-02" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02" style="">
                            <div class="accordion-body last-paragraph-no-margin border-bottom border-color-light-medium-gray">
                                <p>Contact us to schedule a consultation. We strive to begin services promptly to support your needs.</p>
                            </div>
                        </div>
                    </div>
                    <!-- end accordion item -->
                    <!-- start accordion item -->
                    <div class="accordion-item" style="">
                        <div class="accordion-header border-bottom border-color-light-medium-gray">
                            <a href="#" data-bs-toggle="collapse" data-bs-target="#accordion-style-02-03" aria-expanded="false" data-bs-parent="#accordion-style-02" class="collapsed">
                                <div class="accordion-title mb-0 position-relative text-dark-gray pe-30px">
                                    <i class="feather icon-feather-chevron-down icon-extra-medium"></i><span class="fw-600 fs-18">Q: Can palliative care help with emotional or spiritual concerns?</span>
                                </div>
                            </a>
                        </div>
                        <div id="accordion-style-02-03" class="accordion-collapse collapse" data-bs-parent="#accordion-style-02">
                            <div class="accordion-body last-paragraph-no-margin border-bottom border-color-light-medium-gray">
                                <p>Absolutely. Emotional and spiritual well-being are core parts of our care approach.</p>
                            </div>
                        </div>
                    </div>
                    <!-- end accordion item -->
                </div>
            </div>
        </div>
    </div>
</section>

<div class="divider-style-03 divider-style-03-05 border-1 border-color-dark-gray m-0 w-100 opacity-3"></div>

<section class="overflow-hidden pt-5 pb-5 bg-gradient-blue-transparent-second">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-xl-5 col-lg-12 md-mb-0">
                <div class="row align-items-center">
                    <div class="col text-center text-sm-start appear anime-complete"
                         data-anime="{  &quot;opacity&quot;: [0,1], &quot;delay&quot;: 100, &quot;staggervalue&quot;: 250, &quot;easing&quot;: &quot;easeOutQuad&quot; }"
                         style="">
                        <h5 class="fw-700 alt-font lh-40 text-dark-gray ls-minus-1px mb-15px">Take the Next Step — Contact All Compassionate Care Hospice Today</h5>
                        <p>If you or a loved one are facing a serious illness, compassionate palliative care can provide relief and support. Reach out to All Compassionate Care Hospice for a personalized consultation and discover how we can help you improve your quality of life.</p>

                        <div class="border border-color-extra-medium-gray border-radius-6px mb-40px xs-mb-30px overflow-hidden"
                             style="">
                            <p class="ps-30px pe-30px pt-25px pb-25px border-bottom border-1 border-color-extra-medium-gray mb-0 bg-white">
                                Call us now or fill out our contact form to get started.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 offset-xl-1 col-lg-12 contact-form-style-01 position-relative">
                <div class="ps-14 pe-14 pt-12 pb-12 lg-p-12 bg-white box-shadow-quadruple-large border-radius-8px">
                    <h6 class="d-inline-block alt-font fw-600 text-dark-gray ls-minus-1px mb-35px sm-mb-25px appear anime-complete"
                        data-anime="{ &quot;translateY&quot;: [15, 0], &quot;translateX&quot;: [-15, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }"
                        style="">
                        Get an Advice
                    </h6>
                    <!-- start contact form -->
                    <form action="email-templates/contact-form.php" method="post"
                          data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [15, 0], &quot;translateX&quot;: [-15, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }"
                          class="appear anime-child anime-complete">
                        <div class="position-relative form-group mb-15px" style="">
                            <span class="form-icon"><i class="bi bi-emoji-smile"></i></span>
                            <input type="text" name="name" class="form-control required" placeholder="Patient Full Name*">
                        </div>
                        <div class="position-relative form-group mb-15px" style="">
                            <span class="form-icon"><i class="bi bi-emoji-smile"></i></span>
                            <input type="text" name="name" class="form-control required" placeholder="Your Full Name*">
                        </div>
                        <div class="position-relative form-group mb-15px" style="">
                            <span class="form-icon"><i class="bi bi-envelope"></i></span>
                            <input type="email" name="email" class="form-control required" placeholder="Your email address*">
                        </div>
                        <div class="position-relative form-group mb-20px" style="">
                            <span class="form-icon"><i class="bi bi-telephone-outbound"></i></span>
                            <input type="tel" name="phone" class="form-control" placeholder="Your phone">
                        </div>
                        <div class="position-relative form-group mb-20px align-items-top" style="">
                            <span class="form-icon" style="top:1.7rem;"><i class="bi bi-postcard"></i></span>
                            <textarea name="" class="form-control id="
                                      placeholder="Secondary Contact: Name & Phone Number"></textarea>
                        </div>
                        <div class="position-relative terms-condition-box text-start d-inline-block" style="">
                            <label>
                                <input type="checkbox" name="terms_condition" id="terms_condition" value="1"
                                       class="terms-condition check-box align-middle required">
                                <span class="box fs-16">I agree to the terms of service.</span>
                            </label>
                        </div>
                        <div class="position-relative mt-20px" style="">
                            <button class="btn btn-large btn-base-color btn-box-shadow submit w-100 border-radius-6px"
                                    type="submit">
                                Submit
                            </button>
                            <div class="form-results mt-20px text-center lh-24 d-none"></div>
                        </div>
                    </form>
                    <!-- end contact form -->
                </div>
            </div>
        </div>
    </div>
</section>