@page "/careers"

<PageTitle>Careers - All Compassionate Care Hospice, LLC</PageTitle>

<SeoMeta Title="Careers at All Compassionate Care Hospice, LLC | Join Our Arlington, TX Hospice Team"
         Description="Explore rewarding career opportunities at All Compassionate Care Hospice, LLC in Arlington, TX. Join our compassionate hospice care team dedicated to providing comfort, dignity, and support to patients and families."
         Keywords="hospice careers Arlington TX, hospice jobs Arlington, healthcare jobs Arlington TX, hospice nurse jobs, palliative care careers, hospice care employment, join hospice care team Arlington"
         SocialTitle="Join Our Hospice Care Team | Careers at All Compassionate Care Hospice, LLC"
         SocialDescription="Looking for a meaningful career in hospice care? All Compassionate Care Hospice, LLC in Arlington, TX is hiring compassionate professionals dedicated to quality end-of-life care."
         SocialImage="images/og-allcompassionate.care.webp"
         SocialUrl="https://allcompassionate.care/careers"
         SocialType="website"
         TwitterCardType="summary_large_image"
         TwitterTitle="Careers at All Compassionate Care Hospice, LLC | Hospice Jobs in Arlington, TX"
         TwitterDescription="Join All Compassionate Care Hospice, LLC in Arlington, TX and make a difference in patients’ lives. Explore current hospice and palliative care job openings."
         TwitterImage="images/og-allcompassionate.care.webp"
         Canonical="https://allcompassionate.care/careers" />


<!-- start page title -->
<section class="p-0 ipad-top-space-margin page-title-big-typography cover-background md-background-position-left-center" style="background-image: url(images/demo-elder-care-title-bg.jpg)">
	<div class="container">
		<div class="row align-items-center justify-content-center h-350px">
			<div class="col-auto text-center page-title-double-large" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 200, "easing": "easeOutQuad" }'>
				<h1 class="alt-font text-dark-gray fw-700 ls-minus-1px mb-0 position-relative">
					Careers <span class="position-absolute right-minus-50px top-minus-15px"><img src="images/demo-elder-care-09.png" alt=""></span>
				</h1>
			</div>
			<div class="down-section text-center" data-anime='{ "translateY": [-50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
				<a href="#down-section" class="section-link">
					<div class="text-dark-gray">
						<i class="feather icon-feather-chevron-down icon-very-medium"></i>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>
<!-- end page title -->

<section>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">

				<!-- Job listings will be dynamically rendered here -->
				<div id="job-listings-container" class="row row-cols-1 row-cols-xl-3 row-cols-lg-2"
					 data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 300, "delay": 0, "staggervalue": 150, "easing": "easeOutQuad" }'>
					<!-- Jobs will be loaded from careers-data.js -->
				</div>

			</div>
		</div>

	</div>
</section>


<!-- start section -->
<!-- <section class="d-none">
		<div class="container">
			<div class="row mb-1">
				<div class="col-12 text-center appear anime-child anime-complete"
					data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [30, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
					<h2 class="alt-font text-dark-gray fw-700 fs-40" style="">Join Our Team</h2>
				</div>
			</div>
			<div class="row justify-content-center appear anime-child anime-complete"
				data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [30, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
				<div class="col-lg-10 pt-20px pb-20px border-bottom">
					<div class="row align-items-start">
						<div class="col-md-9 d-flex justify-content-center justify-content-md-start">
							<a href="career-details-rn.html" target="blank" class="d-flex flex-column text-dark-gray fw-600">
								<span class="text-center text-md-start fw-700 mb-5px">REGISTERED NURSE (RN)</span>
								<span class="fs-12 lh-18 fw-400 text-secondary text-center text-md-start mb-10px">
									Promotes and restores patients' health by completing the nursing process; collaborating with physicians and multidisciplinary team members; providing physical and psychological support to patients,
									friends, and families; supervising assigned team members.</span>
								<ul class="m-0 p-0 d-flex flex-wrap justify-content-center justify-content-md-start" style="list-style: none;">
									<li class="fw-600 fs-13 lh-22 pe-20px">$45.00 - $90.00 per hour</li>
									<li class="fw-600 fs-13 lh-22 pe-20px">Full-time, Part-time, Contract</li>
									<li class="fw-600 fs-13 lh-22">Home Health Aide: 1 year (Preferred)</li>
								</ul>
							</a>
						</div>
						<div class="col-md-3 d-flex justify-content-md-end justify-content-center align-items-center sm-mt-3">
							<a href="career-form.html" class="btn btn-sm px-3 pb-5px btn-switch-text rounded-pill btn-base-color d-table d-lg-inline-block lg-mb-15px md-mx-auto">
								<span>
									<span class="btn-double-text" data-text="Apply Now">Apply Now</span>
									<span><i class="fa-solid fa-arrow-right"></i></span>
								</span>
							</a>
						</div>
					</div>
				</div>
				<div class="col-lg-10 pt-20px pb-20px border-bottom">
					<div class="row align-items-start">
						<div class="col-md-9 d-flex justify-content-center justify-content-md-start">
							<a href="career-details-cna.html" target="blank" class="d-flex flex-column text-dark-gray fw-600">
								<span class="text-center text-md-start fw-700 mb-5px">HOME HEALTH AIDE (CNA)</span>
								<span class="fs-12 lh-18 fw-400 text-secondary text-center text-md-start mb-10px">
									Looking for knowledgeable, flexible and compassionate home health aide to cover the Dallas/Fort Worth Metroplex Area. Multiple openings in Grand Prairie, Arlington, Fort Worth, Bedford, Euless, Watauga,
									Keller, Mansfield and Dallas.</span>
								<ul class="m-0 p-0 d-flex flex-wrap justify-content-center justify-content-md-start" style="list-style: none;">
									<li class="fw-600 fs-13 lh-22 pe-20px">$15.00 - $20.00 per hour</li>
									<li class="fw-600 fs-13 lh-22 pe-20px">Full-time, Part-time, Contract</li>
									<li class="fw-600 fs-13 lh-22">Home Health Aide: 1 year (Preferred)</li>
								</ul>
							</a>
						</div>
						<div class="col-md-3 d-flex justify-content-md-end justify-content-center align-items-center sm-mt-3">
							<a href="career-form.html" class="btn btn-sm px-3 pb-5px btn-switch-text rounded-pill btn-base-color d-table d-lg-inline-block lg-mb-15px md-mx-auto">
								<span>
									<span class="btn-double-text" data-text="Apply Now">Apply Now</span>
									<span><i class="fa-solid fa-arrow-right"></i></span>
								</span>
							</a>
						</div>
					</div>
				</div>
				<div class="col-lg-10 pt-20px pb-20px border-bottom">
					<div class="row align-items-start">
						<div class="col-md-9 d-flex justify-content-center justify-content-md-start">
							<a href="career-details-lvn.html" target="blank" class="d-flex flex-column text-dark-gray fw-600">
								<span class="text-center text-md-start fw-700 mb-5px">LICENSED VOCATIONAL NURSE (LVN)</span>
								<span class="fs-12 lh-18 fw-400 text-secondary text-center text-md-start mb-10px">
									Care for ill, injured, or convalescing patients or persons with disabilities in hospitals, nursing homes, clinics, private homes, group homes, and similar institutions. May work under the supervision of
									a registered nurse.</span>
								<ul class="m-0 p-0 d-flex flex-wrap justify-content-center justify-content-md-start" style="list-style: none;">
									<li class="fw-600 fs-13 lh-22 pe-20px">$35.00 - $50.00 per hour</li>
									<li class="fw-600 fs-13 lh-22 pe-20px">Full-time, Part-time, Contract</li>
									<li class="fw-600 fs-13 lh-22">Home Health Aide: 1 year (Preferred)</li>
								</ul>
							</a>
						</div>
						<div class="col-md-3 d-flex justify-content-md-end justify-content-center align-items-center sm-mt-3">
							<a href="career-form.html" class="btn btn-sm px-3 pb-5px btn-switch-text rounded-pill btn-base-color d-table d-lg-inline-block lg-mb-15px md-mx-auto">
								<span>
									<span class="btn-double-text" data-text="Apply Now">Apply Now</span>
									<span><i class="fa-solid fa-arrow-right"></i></span>
								</span>
							</a>
						</div>
					</div>
				</div>
				<div class="col-lg-10 pt-20px pb-20px border-bottom">
					<div class="row align-items-start">
						<div class="col-md-9 d-flex justify-content-center justify-content-md-start">
							<a href="career-details-pt.html" target="blank" class="d-flex flex-column text-dark-gray fw-600">
								<span class="text-center text-md-start fw-700 mb-5px">PHYSICAL THERAPIST (PT)</span>
								<span class="fs-12 lh-18 fw-400 text-secondary text-center text-md-start mb-10px">
									Restore's patient's function, alleviates pain, and prevents disabilities by planning and administering medically prescribed physical therapy.
								</span>
								<ul class="m-0 p-0 d-flex flex-wrap justify-content-center justify-content-md-start" style="list-style: none;">
									<li class="fw-600 fs-13 lh-22 pe-20px">$45.00 to $90.00 per hour</li>
									<li class="fw-600 fs-13 lh-22 pe-20px">Full-time, Part-time, Contract</li>
									<li class="fw-600 fs-13 lh-22">Experience: Caregiving: 1 year (Preferred)</li>
								</ul>
							</a>
						</div>
						<div class="col-md-3 d-flex justify-content-md-end justify-content-center align-items-center sm-mt-3">
							<a href="career-form.html" class="btn btn-sm px-3 pb-5px btn-switch-text rounded-pill btn-base-color d-table d-lg-inline-block lg-mb-15px md-mx-auto">
								<span>
									<span class="btn-double-text" data-text="Apply Now">Apply Now</span>
									<span><i class="fa-solid fa-arrow-right"></i></span>
								</span>
							</a>
						</div>
					</div>
				</div>
				<div class="col-lg-10 pt-20px pb-20px border-bottom">
					<div class="row align-items-start">
						<div class="col-md-9 d-flex justify-content-center justify-content-md-start">
							<a href="career-details-pt.html" target="blank" class="d-flex flex-column text-dark-gray fw-600">
								<span class="text-center text-md-start fw-700 mb-5px">OCCUPATIONAL THERAPIST (OT)</span>
								<span class="fs-12 lh-18 fw-400 text-secondary text-center text-md-start mb-10px">
									Facilitates development and rehabilitation of patients with mental, emotional, and physical disabilities by planning and administering medically prescribed occupational therapy.
								</span>
								<ul class="m-0 p-0 d-flex flex-wrap justify-content-center justify-content-md-start" style="list-style: none;">
									<li class="fw-600 fs-13 lh-22 pe-20px">$45.00 to $90.00 per hour</li>
									<li class="fw-600 fs-13 lh-22 pe-20px">Full-time, Part-time, Contract</li>
									<li class="fw-600 fs-13 lh-22">Experience: Caregiving: 1 year (Preferred)</li>
								</ul>
							</a>
						</div>
						<div class="col-md-3 d-flex justify-content-md-end justify-content-center align-items-center sm-mt-3">
							<a href="career-form.html" class="btn btn-sm px-3 pb-5px btn-switch-text rounded-pill btn-base-color d-table d-lg-inline-block lg-mb-15px md-mx-auto">
								<span>
									<span class="btn-double-text" data-text="Apply Now">Apply Now</span>
									<span><i class="fa-solid fa-arrow-right"></i></span>
								</span>
							</a>
						</div>
					</div>
				</div>
				<div class="col-lg-10 pt-20px pb-20px border-bottom">
					<div class="row align-items-start">
						<div class="col-md-9 d-flex justify-content-center justify-content-md-start">
							<a href="career-details-clt.html" target="blank" class="d-flex flex-column text-dark-gray fw-600">
								<span class="text-center text-md-start fw-700 mb-5px">CERTIFIED LYMPHEDEMA THERAPIST (OT or PT Licensure in the State of Texas)</span>
								<span class="fs-12 lh-18 fw-400 text-secondary text-center text-md-start mb-10px">
									Treating all types of lymphedema including restoring function, reducing physical and psychologic suffering, and preventing the development of infection.
								</span>
								<ul class="m-0 p-0 d-flex flex-wrap justify-content-center justify-content-md-start" style="list-style: none;">
									<li class="fw-600 fs-13 lh-22 pe-20px">$45.00 to $120.00 per hour</li>
									<li class="fw-600 fs-13 lh-22 pe-20px">Full-time, Part-time, Contract</li>
									<li class="fw-600 fs-13 lh-22">Experience: Caregiving: 1 year (Preferred)</li>
								</ul>
							</a>
						</div>
						<div class="col-md-3 d-flex justify-content-md-end justify-content-center align-items-center sm-mt-3">
							<a href="career-form.html" class="btn btn-sm px-3 pb-5px btn-switch-text rounded-pill btn-base-color d-table d-lg-inline-block lg-mb-15px md-mx-auto">
								<span>
									<span class="btn-double-text" data-text="Apply Now">Apply Now</span>
									<span><i class="fa-solid fa-arrow-right"></i></span>
								</span>
							</a>
						</div>
					</div>
				</div>
				<div class="col-lg-10 pt-20px pb-20px border-bottom">
					<div class="row align-items-start">
						<div class="col-md-9 d-flex justify-content-center justify-content-md-start">
							<a href="career-details-pca.html" target="blank" class="d-flex flex-column text-dark-gray fw-600">
								<span class="text-center text-md-start fw-700 mb-5px">PERSONAL CARE ATTENDANT PCA</span>
								<span class="fs-12 lh-18 fw-400 text-secondary text-center text-md-start mb-10px">
									Looking for knowledgeable, flexible and compassionate Personal Care Attendants to cover the Dallas/Fort Worth Metroplex Area. Multiple openings in Grand Prairie, Arlington, Fort Worth and Dallas.
								</span>
								<ul class="m-0 p-0 d-flex flex-wrap justify-content-center justify-content-md-start" style="list-style: none;">
									<li class="fw-600 fs-13 lh-22 pe-20px">$8.00 - $12.00 per hour</li>
									<li class="fw-600 fs-13 lh-22 pe-20px">Full-time, Part-time, Contract</li>
									<li class="fw-600 fs-13 lh-22">Experience: Caregiving: 1 year (Preferred)</li>
								</ul>
							</a>
						</div>
						<div class="col-md-3 d-flex justify-content-md-end justify-content-center align-items-center sm-mt-3">
							<a href="career-form.html" class="btn btn-sm px-3 pb-5px btn-switch-text rounded-pill btn-base-color d-table d-lg-inline-block lg-mb-15px md-mx-auto">
								<span>
									<span class="btn-double-text" data-text="Apply Now">Apply Now</span>
									<span><i class="fa-solid fa-arrow-right"></i></span>
								</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> -->
<!-- end section -->

<!-- careers dynamic rendering -->
<script type="text/javascript" src="js/careers-data.js"></script>
<script type="text/javascript" src="js/careers-renderer.js"></script>
