@page "/hospice-resources/healthcare-providers"

<PageTitle>Healthcare Providers - All Compassionate Care Hospice, LLC</PageTitle>

<SeoMeta Title="Resources for Healthcare Providers in Arlington, TX | All Compassionate Care Hospice, LLC"
         Description="All Compassionate Care Hospice, LLC offers valuable resources and support for healthcare providers in Arlington, TX. Enhance patient care with expert hospice guidance, educational materials, and collaborative services."
         Keywords="healthcare provider resources Arlington TX, hospice resources for providers, hospice education Arlington, provider support hospice Arlington, collaborative hospice care Arlington TX, healthcare professional hospice guidance"
         SocialTitle="Healthcare Provider Resources in Arlington, TX | All Compassionate Care Hospice, LLC"
         SocialDescription="Discover expert resources and support for healthcare providers from All Compassionate Care Hospice, LLC in Arlington, TX. Collaborate with us to improve hospice patient care and outcomes."
         SocialImage="images/og-allcompassionate.care.webp"
         SocialUrl="https://allcompassionate.care/hospice-resources/healthcare-providers"
         SocialType="website"
         TwitterCardType="summary_large_image"
         TwitterTitle="Healthcare Provider Resources in Arlington, TX | All Compassionate Care Hospice, LLC"
         TwitterDescription="Access comprehensive hospice resources and support for healthcare providers at All Compassionate Care Hospice, LLC in Arlington, TX. Enhance patient care through collaboration and education."
         TwitterImage="images/og-allcompassionate.care.webp"
         Canonical="https://allcompassionate.care/hospice-resources/healthcare-providers" />


<!-- start page title -->
<section class="p-0 ipad-top-space-margin page-title-big-typography cover-background md-background-position-left-center"
         style="background-image: url(images/bg-title-bg.webp)">
    <div class="container">
        <div class="row align-items-center justify-content-center h-350px">
            <div class="col-auto text-center page-title-double-large"
                 data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 200, "easing": "easeOutQuad" }'>
                <h1 class="alt-font text-dark-gray fw-700 ls-minus-1px mb-0 position-relative">
                    <span class="fs-50">Healthcare Providers</span>
                    <span class="position-absolute right-minus-50px top-minus-15px">
                        <img src="images/bg-09.webp"
                             alt="">
                    </span>
                    <span class="fs-22 d-block">Hospice Resources</span>
                </h1>
            </div>
            <div class="down-section text-center"
                 data-anime='{ "translateY": [-50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                <a href="#down-section" class="section-link">
                    <div class="text-dark-gray">
                        <i class="feather icon-feather-chevron-down icon-very-medium"></i>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- end page title -->
<!-- start section -->
<section id="down-section" class="position-relative pt-5 pb-5 bg-gradient-blue-transparent-first">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-xl-6 col-lg-12 col-md-10 position-relative md-mb-50px sm-mb-30px appear"
                 data-anime="{ &quot;effect&quot;: &quot;slide&quot;, &quot;direction&quot;: &quot;tb&quot;, &quot;color&quot;: &quot;#252840&quot;, &quot;duration&quot;: 1000, &quot;delay&quot;: 0 }"
                 style="position: relative;">
                <img class="w-100 border-radius-5px lg-mb-50px" src="images/alc-services/bg-healthcareproviders.webp" alt=""
                     data-no-retina="" style="opacity: 1;">
            </div>
            <div class="col-xl-5 offset-xl-1 col-lg-12 col-md-10 text-center text-lg-start appear anime-child anime-complete"
                 data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [50, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                <span class="text-uppercase fw-600 mb-15px d-inline-block ls-1px" style="">All Compassionate Care Hospice</span>
                <h2 class="alt-font fw-600 lh-60 text-dark-gray ls-minus-1px shadow-none shadow-in"
                    data-shadow-animation="true" data-animation-delay="1500" style="">
                    Partnering with Us for Seamless
                    <span class="text-highlight fw-800">
                        Hospice Referrals
                        <span class="bg-gradient-emerald-blue-emerald-green h-8px bottom-10px opacity-6 separator-animation"></span>
                    </span>
                </h2>
                <p class="mb-35px sm-mb-25px" style="">At All Compassionate Care Hospice, we understand the important role healthcare professionals play in guiding patients and families through end-of-life care decisions. Our team is committed to collaborating with you to ensure your patients receive compassionate, dig</p>
                <div class="d-flex flex-md-row flex-column justify-content-lg-start justify-content-center">
                    <a href="/contact"
                       class="btn btn-large btn-dark-gray btn-rounded me-25px btn-switch-text btn-box-shadow xs-m-10px">
                        <span>
                            <span class="btn-double-text" data-text="Discover more">Schedule a Visit</span>
                            <span><i class="fa-solid fa-arrow-right fs-14"></i></span>
                        </span>
                    </a>
                    <div class="feature-box feature-box-left-icon-middle xs-m-10px">
                        <div class="feature-box-icon feature-box-icon-rounded border border-2 w-60px h-60px rounded-circle me-15px">
                            <i class="feather icon-feather-phone align-middle icon-extra-medium text-dark-gray"></i>
                        </div>
                        <div class="feature-box-content">
                            <span class="d-block fs-15 lh-20">Call Anytime</span>
                            <a href="tel:+12142813959" class="d-block text-dark-gray fs-18 ls-minus-05px fw-600">(214) 281-3959</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end section -->

<section class="pt-5 pb-5">
    <div class="container">
        <div class="row appear anime-child anime-complete align-items-center"
             data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [30, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 800, &quot;delay&quot;: 200, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
            <div class="col-lg-5 text-center text-lg-start " style="">
                <h2 class="text-dark-gray fw-700 ls-minus-1px alt-font mb-220px lg-mb-20px d-block fs-45 lh-60" style="">
                    When
                    to Refer a Patient to Hospice Care
                </h2>
                <p class="lead fw-500">
                    Timely hospice referrals can greatly enhance a patient’s quality of life. Consider
                    hospice when your patient:
                </p>
                <p class="mb-0">
                    We also follow disease-specific guidelines for conditions such as cancer, dementia, heart and
                    lung disease, ALS, renal, neurological, and liver diseases.
                </p>
            </div>
            <div class="col-lg-6 offset-lg-1 text-center text-lg-start" style="">
                <div class="row border-top border-color-dark-gray g-0">
                    <div class="col-1 text-center align-self-center">
                        <span class="text-dark-gray fs-14 fw-600">01</span>
                    </div>
                    <div class="col-11 last-paragraph-no-margin ps-30px pe-30px pt-15px pb-15px border-start border-color-dark-gray">
                        <p class="ls-minus-05px fw-600">
                            Has a prognosis of six months or less, if the illness follows its usual
                            course
                        </p>
                    </div>
                </div>
                <div class="row border-top border-color-dark-gray g-0">
                    <div class="col-1 text-center align-self-center">
                        <span class="text-dark-gray fs-14 fw-600">02</span>
                    </div>
                    <div class="col-11 last-paragraph-no-margin ps-30px pe-30px pt-15px pb-15px border-start border-color-dark-gray">
                        <p class="ls-minus-05px fw-600">Has chosen to stop life-extending treatments in favor of comfort care</p>
                    </div>
                </div>
                <div class="row border-top border-color-dark-gray g-0">
                    <div class="col-1 text-center align-self-center">
                        <span class="text-dark-gray fs-14 fw-600">03</span>
                    </div>
                    <div class="col-11 last-paragraph-no-margin ps-30px pe-30px pt-15px pb-15px border-start border-color-dark-gray">
                        <p class="ls-minus-05px fw-600">
                            Has experienced a significant decline in physical or cognitive function
                        </p>
                    </div>
                </div>
                <div class="row border-top border-color-dark-gray g-0">
                    <div class="col-1 text-center align-self-center">
                        <span class="text-dark-gray fs-14 fw-600">04</span>
                    </div>
                    <div class="col-11 last-paragraph-no-margin ps-30px pe-30px pt-15px pb-15px border-start border-color-dark-gray">
                        <p class="ls-minus-05px fw-600">Has lost 10% or more of their body weight in the last six months</p>
                    </div>
                    <div class="row border-top border-color-dark-gray g-0">
                        <div class="col-1 text-center align-self-center">
                            <span class="text-dark-gray fs-14 fw-600">05</span>
                        </div>
                        <div class="col-11 last-paragraph-no-margin ps-30px pe-30px pt-15px pb-15px border-start border-color-dark-gray">
                            <p class="ls-minus-05px fw-600">Has had multiple hospital or ER admissions recently</p>
                        </div>
                        <div class="row border-top border-bottom border-color-dark-gray g-0">
                            <div class="col-1 text-center align-self-center">
                                <span class="text-dark-gray fs-14 fw-600">06</span>
                            </div>
                            <div class="col-11 last-paragraph-no-margin ps-30px pe-30px pt-15px pb-15px border-start border-color-dark-gray">
                                <p class="ls-minus-05px fw-600">
                                    Is struggling with activities of daily living or showing rapid disease
                                    progression
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="overlap-height background-no-repeat background-position-left-top cover-background position-relative pt-5 pb-5"
         style="background-image: url(&quot;images/bg-separator-08.webp&quot;);">
    <div class="container  overlap-gap-section">
        <div class="row justify-content-center mb-5 sm-mb-8">
            <div class="col-xl-7 col-lg-7 col-md-10 text-center last-paragraph-no-margin">
                <span class="fs-20 fw-600 mb-10px d-inline-block">The Referral Process</span>
                <h3 class="alt-font fw-700 text-dark-gray ls-minus-1px">Simple and Supportive</h3>
                <p>Referring a patient to All Compassionate Care Hospice is straightforward. Our process includes:</p>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-lg-4 row-cols-md-2">
            <!-- start process step item -->
            <div class="col process-step-style-04 text-center last-paragraph-no-margin hover-box md-mb-50px">
                <div class="process-step-icon-box position-relative mb-25px">
                    <span class="progress-step-separator bg-dark-gray opacity-1 w-55 separator-line-1px"></span>
                    <h4 class="number d-inline-block fw-700 alt-font text-dark-gray ls-minus-2 px mb-0">01</h4>
                </div>
                <span class="d-inline-block fw-700 alt-font fs-18 text-dark-gray mb-5px">Eligibility Assessment</span>
                <p>We review clinical criteria and patient/family wishes.</p>
            </div>
            <!-- end process step item -->
            <!-- start process step item -->
            <div class="col process-step-style-04 text-center last-paragraph-no-margin hover-box md-mb-50px">
                <div class="process-step-icon-box position-relative mb-25px">
                    <span class="progress-step-separator bg-dark-gray opacity-1 w-55 separator-line-1px"></span>
                    <h4 class="number d-inline-block fw-700 alt-font text-dark-gray ls-minus-2 px mb-0">02</h4>
                </div>
                <span class="d-inline-block fw-700 alt-font fs-18 text-dark-gray mb-5px">Prompt Admission</span>
                <p>Same-day admissions are available—even on weekends.</p>
            </div>
            <!-- end process step item -->
            <!-- start process step item -->
            <div class="col process-step-style-04 text-center last-paragraph-no-margin hover-box sm-mb-50px">
                <div class="process-step-icon-box position-relative mb-25px">
                    <span class="progress-step-separator bg-dark-gray opacity-1 w-55 separator-line-1px"></span>
                    <h4 class="number d-inline-block fw-700 alt-font text-dark-gray ls-minus-2 px mb-0">03</h4>
                </div>
                <span class="d-inline-block fw-700 alt-font fs-18 text-dark-gray mb-5px">Care Coordination</span>
                <p>We work closely with you and your patient’s loved ones to create a personalized care plan.</p>
            </div>
            <!-- end process step item -->
            <!-- start process step item -->
            <div class="col process-step-style-04 text-center last-paragraph-no-margin hover-box sm-mb-50px">
                <div class="process-step-icon-box position-relative mb-25px">
                    <span class="progress-step-separator bg-dark-gray opacity-1 w-55 separator-line-1px"></span>
                    <h4 class="number d-inline-block fw-700 alt-font text-dark-gray ls-minus-2 px mb-0">04</h4>
                </div>
                <span class="d-inline-block fw-700 alt-font fs-18 text-dark-gray mb-5px">
                    Guidance for Difficult
                    Conversations
                </span>
                <p>
                    Our team can assist you in discussing hospice options with patients and families, helping to address
                    concerns about comfort care and quality of life.
                </p>
            </div>
            <!-- end process step item -->
        </div>
    </div>
</section>


<section class="pt-5 pb-3">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-2 mb-30px md-mb-15px" style="">
            <div class="col">
                <h6 class="alt-font text-dark-gray ls-minus-05px fw-700 mb-15px d-block">Insurance and Coverage</h6>
                <p class="w-95 sm-w-100">
                    Hospice care is typically covered by Medicare Part A, Medicaid, and most private
                    insurance plans. This coverage includes medical care, medications related to the terminal diagnosis,
                    supplies, and equipment, so families face minimal financial burden during this time.
                </p>
            </div>
            <div class="col">
                <h6 class="alt-font text-dark-gray ls-minus-05px fw-700 mb-15px d-block">
                    Addressing Common Patient and Family
                    Concerns
                </h6>
                <p class="w-95 sm-w-100">
                    We know that patients and families may worry that choosing hospice means “giving up.”
                    Our team helps clarify that hospice is about maximizing comfort, dignity, and quality of life—while still
                    providing expert symptom management and emotional support. We emphasize that hospice care can be delivered
                    wherever the patient calls home, allowing them to spend meaningful time surrounded by loved ones.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="pt-0 pb-5 overflow-hidden bg-gradient-blue-transparent-first">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 md-mb-50px sm-mb-20px appear anime-child anime-complete"
                 data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [50, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                <h6 class="text-dark-gray alt-font fw-600 ls-minus-1px mb-20px sm-w-85 xs-w-100" style="">
                    Emotional and
                    Spiritual Support
                </h6>
                <p style="">Physical comfort is only part of the hospice journey. We provide:</p>
                <ul class="list-style-04 fw-500 mb-3" style="">
                    <li>Emotional support for patients and families to minimize stress and prevent caregiver burnout</li>
                    <li>Spiritual care tailored to each patient’s beliefs and values</li>
                    <li>Social work assistance for navigating paperwork and practical arrangements</li>
                    <li>Bereavement counseling for families after loss</li>
                </ul>
                <p class="mb-0">
                    For caregivers who need a break, our respite care program offers temporary relief, allowing
                    you to rest and recharge while your loved one continues to receive attentive care.
                </p>
            </div>
            <div class="col-xl-6 col-lg-6 md-mb-50px sm-mb-20px appear anime-child anime-complete"
                 data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [50, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }">
                <h6 class="alt-font text-dark-gray ls-minus-05px fw-700 mb-15px d-block">What Happens After a Referral?</h6>
                <p class="w-95 sm-w-100">
                    Once you refer a patient, our team can begin the admission process within hours—often
                    the same day. We coordinate with you and the family to ensure a smooth transition and ongoing communication.
                    During the final days, our nurses and social workers provide increased support and are present to help
                    families with arrangements and comfort.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="pt-5 pb-5">
    <div class="container">
        <div class="row justify-content-center justify-content-lg-start" style="">
            <div class="text-center">
                <h5 class="alt-font fw-600 text-dark-gray ls-minus-1px shadow-none shadow-in mb-4"
                    data-shadow-animation="true" data-animation-delay="700">
                    Why Partner with All Compassionate Care Hospice?
                </h5>
            </div>
            <div class="col-12 col-lg-3 xs-mb-20px">
                <p>Responsive admissions—including after-hours and weekends</p>
            </div>
            <div class="col-12 col-lg-3 xs-mb-20px">
                <p>Seamless provider communication for continuity of care</p>
            </div>
            <div class="col-12 col-lg-3 xs-mb-20px">
                <p>Team-based, holistic approach to support both patients and families</p>
            </div>
            <div class="col-12 col-lg-3 last-paragraph-no-margin">
                <p>Commitment to dignity, respect, and individualized care</p>
            </div>
        </div>
    </div>
</section>

<div class="divider-style-03 divider-style-03-05 border-1 border-color-dark-gray m-0 w-100 opacity-3"></div>

<section class="overflow-hidden pt-5 pb-5 bg-gradient-blue-transparent-second">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-xl-4 col-lg-12 md-mb-0">
                <div class="row align-items-center">
                    <div class="col text-center text-sm-start appear anime-complete"
                         data-anime="{  &quot;opacity&quot;: [0,1], &quot;delay&quot;: 100, &quot;staggervalue&quot;: 250, &quot;easing&quot;: &quot;easeOutQuad&quot; }"
                         style="">
                        <h5 class="fw-700 alt-font lh-40 text-dark-gray ls-minus-1px mb-15px">Start a Referral or Learn More</h5>
                        <p>
                            If you have a patient who may benefit from hospice care, or if you would like to discuss our services,
                            contact All Compassionate Care Hospice today. Our experienced team is ready to help you provide the best
                            possible support for your patients and their families.
                        </p>

                        <div class="border border-color-extra-medium-gray border-radius-6px mb-40px xs-mb-30px overflow-hidden"
                             style="">
                            <p class="ps-30px pe-30px pt-25px pb-25px border-1 border-color-extra-medium-gray mb-0 bg-white">
                                Call us
                                or submit a secure referral online to begin.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-7 offset-xl-1 col-lg-12 contact-form-style-01 position-relative">
                <div class="ps-14 pe-14 pt-12 pb-12 lg-p-12 bg-white box-shadow-quadruple-large border-radius-8px">
                    <h6 class="d-inline-block alt-font fw-600 text-dark-gray ls-minus-1px mb-35px sm-mb-25px appear anime-complete"
                        data-anime="{ &quot;translateY&quot;: [15, 0], &quot;translateX&quot;: [-15, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }"
                        style="">
                        Get an Advice
                    </h6>
                    <!-- start contact form -->
                    <form action="email-templates/contact-form.php" method="post"
                          data-anime="{ &quot;el&quot;: &quot;childs&quot;, &quot;translateY&quot;: [15, 0], &quot;translateX&quot;: [-15, 0], &quot;opacity&quot;: [0,1], &quot;duration&quot;: 600, &quot;delay&quot;: 0, &quot;staggervalue&quot;: 300, &quot;easing&quot;: &quot;easeOutQuad&quot; }"
                          class="appear anime-child anime-complete">
                        <div class="position-relative form-group mb-15px" style="">
                            <span class="form-icon"><i class="bi bi-emoji-smile"></i></span>
                            <input type="text" name="name" class="form-control required" placeholder="Patient Full Name*">
                        </div>
                        <div class="position-relative form-group mb-15px" style="">
                            <span class="form-icon"><i class="bi bi-emoji-smile"></i></span>
                            <input type="text" name="name" class="form-control required" placeholder="Your Full Name*">
                        </div>
                        <div class="position-relative form-group mb-15px" style="">
                            <span class="form-icon"><i class="bi bi-envelope"></i></span>
                            <input type="email" name="email" class="form-control required" placeholder="Your email address*">
                        </div>
                        <div class="position-relative form-group mb-20px" style="">
                            <span class="form-icon"><i class="bi bi-telephone-outbound"></i></span>
                            <input type="tel" name="phone" class="form-control" placeholder="Your phone">
                        </div>
                        <div class="position-relative form-group mb-20px align-items-top" style="">
                            <span class="form-icon" style="top:1.7rem;"><i class="bi bi-postcard"></i></span>
                            <textarea name="" class="form-control id="
                                      placeholder="Secondary Contact: Name & Phone Number"></textarea>
                        </div>
                        <div class="position-relative terms-condition-box text-start d-inline-block" style="">
                            <label>
                                <input type="checkbox" name="terms_condition" id="terms_condition" value="1"
                                       class="terms-condition check-box align-middle required">
                                <span class="box fs-16">I agree to the terms of service.</span>
                            </label>
                        </div>
                        <div class="position-relative mt-20px" style="">
                            <button class="btn btn-large btn-base-color btn-box-shadow submit w-100 border-radius-6px"
                                    type="submit">
                                Submit
                            </button>
                            <div class="form-results mt-20px text-center lh-24 d-none"></div>
                        </div>
                    </form>
                    <!-- end contact form -->
                </div>
            </div>
        </div>
    </div>
</section>
