<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta name="description" content="">
    <LinkCss />
    <base href="/" />
    <link rel="stylesheet" href="AllCompassionateCare.styles.css" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="https://www.google.com/recaptcha/api.js?render=explicit" async defer></script>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/vendors.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/captcha.js"></script>
    <script src="/_framework/blazor.server.js"></script>
</body>
</html>
